.img {
    max-width: 100vw;
    height: auto;
}

.navbar-dark .navbar-toggler-icon::before {
    background-color: #d8d8d8;
    /* Setează culoarea liniilor butonului la alb */
}

.custom-navbar-brand {
    color: #d8d8d8;
}

/* Stil pentru toate link-urile din bara de navigație */
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
    color: #d8d8d8;
}

a {
    text-decoration: none;
}

.about-section {
    text-align: center;
}

.about-section img {
    width: 250px;
    height: 250px;
    /* Asigură-te că imaginea este un pătrat */
    object-fit: cover;
    /* Menține proporțiile și acoperă întreaga zonă */
    border-radius: 50%;
    /* Face imaginea în formă de cerc */
    margin-bottom: 20px;
    /* Adaugă spațiu între imagine și text */
}

/* Adaugă spațiu între butonul "Trimite" și footer */
main {
    margin-bottom: 2rem;
    /* Ajustează valoarea pentru spațierea dorită */
}

/* CSS personalizat pentru spațierea dintre imagine și text */
.navbar-logo {
    margin-right: 0.3125rem;
    /* Ajustează valoarea pentru a controla spațiul */
}

.navbar-toggler {
    margin-bottom: 0.625rem;
    /* Ajustează valoarea pentru a controla spațiul */
}

.custom-caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.custom-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
    /* Adaugă umbră textului */
}

/* Adaugă spațiere între link-uri */
.custom-link {
    margin-right: 1.875rem;
}

.see-all {
    display: flex;
    align-items: center;
}

.see-all p {
    margin: 0;
    font-weight: bold;
    padding-right: 0.625rem;
    /* Spațiu între textul "Vezi tot" și săgeată */
}

.see-all .arrow {
    font-size: 1.5rem;
    /* Dimensiunea săgeții */
    cursor: pointer;
}

.card {
    border: none;
    /* Elimină chenarul */
    box-shadow: none;
    /* Elimină umbra */
}

/* Schimbă săgețile cu iconițe Font Awesome personalizate */
.carousel-control-prev::before {
    content: "\f104";
    /* Codul pentru o săgeată în stânga din Font Awesome */
    font-family: "Font Awesome 5 Free";
    /* Familia de fonturi Font Awesome */
    font-weight: 900;
    /* Grosimea fontului */
    color: white;
    /* Culoarea săgeților */
    font-size: 2.25rem;
    /* Dimensiunea săgeților */
}

.carousel-control-next::before {
    content: "\f105";
    /* Codul pentru o săgeată în dreapta din Font Awesome */
    font-family: "Font Awesome 5 Free";
    /* Familia de fonturi Font Awesome */
    font-weight: 900;
    /* Grosimea fontului */
    color: white;
    /* Culoarea săgeților */
    font-size: 2.25rem;
    /* Dimensiunea săgeților */
}

/* Stilizare pentru săgețile caruselului */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    /* Ajustați dimensiunile după preferințe */
    height: 2.5rem;
    /* Ajustați dimensiunile după preferințe */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundal pentru săgeți */
    border-radius: 50%;
    color: white;
    /* Culoarea săgeților */
    font-size: 1.5rem;
    /* Dimensiunea săgeților */
    text-align: center;
    line-height: 2.5rem;
    /* Asigurați-vă că săgețile sunt centrate vertical */
    z-index: 10;
}

.carousel-control-prev {
    left: 0.625rem;
    /* Poziția săgeții stângi */
}

.carousel-control-next {
    right: 0.625rem;
    /* Poziția săgeții drepte */
}

/* Ascunde săgețile implicite Bootstrap */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* Ajustează spațiul între carduri după preferință */
    overflow-x: hidden;
}

.carousel-item {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    /* Asigură că cardurile nu depășesc lățimea maximă */
}